/****** Script for SelectTopNRows command from customer table  ******/
SELECT TOP 1000 [customer_id]
      ,[cust_name]
      ,[cust_address]
      ,[post_town]
      ,[postcode]
      ,[tel]
  FROM [QVAN2213884].[dbo].[Customer]




SELECT * FROM Driver WHERE points > 1;

SELECT * FROM Driver WHERE points > 0 ORDER BY lastname;